.item {
  background: rgb(208, 133, 237);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  margin: 12px 0px;
  cursor: pointer;
}
button {
  padding: 8px;
  border: 2px solid rgb(71, 71, 200);
  background: rgb(240, 110, 136);
  border-radius: 8px;
}
button:hover {
  background-color: red;
}

.done {
  text-decoration: line-through;
}
